
  

  <div class="max-w-32 h-[89%] rounded-md shadow-md py-2">
    <div class="px-2">
    <p  style="font-size: 0.75em;text-decoration: underline;"> 11:00-12:04</p>
    
    <h2 class="text-xs text-black mt-2">{{ loungeInfo.event.title }}</h2>
    <!-- <p class="text-xs font-medium text-gray-700"><strong>Type:</strong> {{ loungeInfo.type }}</p> -->
    <!-- <h3 class="text-sm font-semibold text-gray-800 mt-6 mb-2">Event Details</h3> -->
    
    <!-- <div class="flex items-center space-x-4 text-xs text-customPurple"> -->
      <!-- <p><strong></strong> 11:00-12:04</p> -->
      <!-- <span class="text-gray-400">-</span> -->
      <!-- <p><strong>End:</strong>{{ loungeInfo.event.end}} </p> -->
    <!-- </div> -->
    
    <!-- <p class="text-xs text-gray-600"><strong>Type:</strong> {{ loungeInfo.event.type }}</p> -->
    <!-- <p class="text-xs text-gray-600"><strong>Title:</strong> {{ loungeInfo.event.title }}</p> -->
  </div>
  </div>
  