
<div class="h-[89%] w-24 rounded-md py-2 shadow-md">
    <div class="w-full h-full flex flex-col px-2">
        <div class="w-full flex">
            <!-- <hr class="border border-gray-200"> -->
            <p class="text-xs underline">11:30-12:30 </p> <!-- Start and end time in a single row -->
        </div>
        <div class="w-full flex">
            <p class="text-xs" style="margin-top: 3px;">Airport Check-In and Security</p>
             <!-- Event title -->
        </div>
        <!-- <div class="w-full flex items-center justify-center p-2">
            <div class="cursor-pointer h-full w-8 flex items-center justify-center border border-gray-500 border-2 border-dotted rounded-full">
                <p class="text-xl">+</p>
            </div>
        </div> -->
       
    </div>
</div>
