 /* Image container */
 .image-container {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip content */
  .tooltip-content {
    position: absolute;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    top: 100%; /* Position below the image */
    left: 60%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1000;
  }
  
  /* CTA buttons */
  .cta {
    display: flex;
    align-items: center;
    margin: 2px 0;
    padding: 3px 10px;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 3px;
    height: 30px;
  }
  
  .cta:hover {
    background-color: #555;
  }
  
  /* Hidden class to control tooltip visibility */
  .hidden {
    display: none;
  }